<div local-class="application">
  {{fb-header isSidebarActive=isSidebarActive}}
  {{fb-body
    mySongs=model.mySongs
    track=model.queue.currentTrack
    queue=model.queue
    playlists=model.playlists
    isSidebarActive=isSidebarActive
  }}
  {{outlet}}
</div>