$shade-1: #05668D;
$shade-2: #028090;
$shade-3: #00A896;
$shade-4: #02C39A;
$shade-5: #F0F3BD;

$faded-white: rgba(255, 255, 255, 0.4);

$box-shadow-1: 0 0 0 0 rgba(0, 0, 0, 0.12);

$transition-1: 0.2s ease-out;
