$shade-1: #231c17;
$shade-1-d2: darken($shade-1, 10%);
$shade-1-d1: darken($shade-1, 5%);
$shade-1-l1: lighten($shade-1, 5%);
$shade-1-l2: lighten($shade-1, 10%);
$shade-2: #251003;
$shade-2-d2: darken($shade-2, 10%);
$shade-2-d1: darken($shade-2, 5%);
$shade-2-l1: lighten($shade-2, 5%);
$shade-2-l2: lighten($shade-2, 10%);
$shade-3: #3B342B;
$shade-3-d2: darken($shade-3, 10%);
$shade-3-d1: darken($shade-3, 5%);
$shade-3-l1: lighten($shade-3, 5%);
$shade-3-l2: lighten($shade-3, 10%);
$shade-4: #4B4237;
$shade-4-d2: darken($shade-4, 10%);
$shade-4-d1: darken($shade-4, 5%);
$shade-4-l1: lighten($shade-4, 5%);
$shade-4-l2: lighten($shade-4, 10%);
$shade-5: #F0F3BD;
$shade-5-d2: darken($shade-5, 10%);
$shade-5-d1: darken($shade-5, 5%);
$shade-5-l1: lighten($shade-5, 5%);
$shade-5-l2: lighten($shade-5, 10%);

$text: #FEFAE0;
$text-d4: darken($text, 20%);
$text-d3: darken($text, 15%);
$text-d2: darken($text, 10%);
$text-d1: darken($text, 5%);

$faded-black-1: rgba(0, 0, 0, 0.08);
$faded-black-2: rgba(0, 0, 0, 0.12);
$faded-black-3: rgba(0, 0, 0, 0.25);
$faded-white-1: rgba(255, 255, 255, 0.4);
$faded-white-2: rgba(255, 255, 255, 0.10);
$faded-white-3: rgba(255, 255, 255, 0.16);

$box-shadow-1: 0 0 0 0 $faded-black-2;
$box-shadow-2: 0 0 2px $faded-black-3;
$box-shadow-3: 2px 2px 2px 0 $faded-black-2;
$box-shadow-3-with-inset: $box-shadow-3, 0 0 9px -1px $shade-2-l2 inset;
$transition-1: 0.2s ease-out;

$screen-breakpoint-1: only screen and (min-width: 768px);
