$shade-1: #05668D;
$shade-2: #028090;
$shade-3: #00A896;
$shade-4: #02C39A;
$shade-5: #F0F3BD;

$faded-black-1: rgba(0, 0, 0, 0.08);
$faded-black-2: rgba(0, 0, 0, 0.12);
$faded-black-3: rgba(0, 0, 0, 0.25);
$faded-white: rgba(255, 255, 255, 0.4);

$box-shadow-1: 0 0 0 0 $faded-black-2;
$box-shadow-2: 0 0 2px $faded-black-3;
$box-shadow-3: 2px 2px 2px 0 $faded-black-2;
$transition-1: 0.2s ease-out;
