@import '../styles/variables';

.body-component {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  width: 240px;
  flex-shrink: 0;
  box-sizing: border-box;
  background-color: $shade-2;
  display: flex;
  flex-direction: column;
}

.playlist-collection {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  padding: 9px 0;
}

.collections-subtitle {
  font-size: 14px;
  font-family: 'IBM Plex Sans', sans-serif;
  width: 100%;
  text-align: center;
  color: #FFF;
}

.content {
  flex-grow: 4;
  flex-shrink: 1;
  background-color: $shade-3;
  display: flex;
  flex-direction: column;
}

.track-list {
  flex-grow: 1;
  background-color: $shade-4;
  padding: 27px 18px;
  overflow-y: auto;
}

.footer {
  background-color: lighten($shade-4, 5%);
}
