<p>Dummy todo experiment for firebase testing</p>

{{#if session.isAuthenticated}}
  <button>You're signed in!</button>
{{else}}
  <button {{action "signIn" "facebook"}}>Sign in</button>
{{/if}}
{{yield}}