@import '../styles/variables';

.player-wrapper {
  display: flex;
  align-items: center;
}

.player {
  display: none;
}

.video-controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  padding: 0 18px;
}

@media #{$screen-breakpoint-1} {
  .video-controls {
    padding: 18px;
  }
}
