.player-wrapper {
  display: flex;
  align-items: center;
}

.player {
  display: none;
}

.video-controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  padding: 18px;
}
