@import 'ember-basic-dropdown';
@import '../styles/variables';


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: none;
}


hr {
  border: 1px solid $faded-black-3;
  width: 85%;
}

:global(.ember-basic-dropdown-trigger){
  cursor: pointer;
}

:global(.ember-basic-dropdown-content) {
  padding: 9px;
  border-radius: 3px;
  background-color: $shade-2-l1;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  color: lighten($shade-4, 45%);
  box-shadow: $box-shadow-3-with-inset;
}

@keyframes drop-fade-below {
  0%   {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes drop-fade-above {
  0%   {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

:global(.ember-basic-dropdown-content) {
  will-change: transform, opacity;
  &:global(.ember-basic-dropdown-content--below.ember-basic-dropdown--transitioning-in) {
    animation: drop-fade-below .15s;
  }
  &:global(.ember-basic-dropdown-content--below.ember-basic-dropdown--transitioning-out) {
    animation: drop-fade-below .15s reverse;
  }
  &:global(.ember-basic-dropdown-content--above.ember-basic-dropdown--transitioning-in) {
    animation: drop-fade-above .15s;
  }
  &:global(.ember-basic-dropdown-content--above.ember-basic-dropdown--transitioning-out) {
    animation: drop-fade-above .15s reverse;
  }
}

input {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $faded-white-1;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $faded-white-1;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $faded-white-1;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $faded-white-1;
  }
}

[data-ember-action] {
  cursor: pointer;
}
