@import '../styles/variables';

.title-container {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #FFF;
  margin-bottom: 9px;
  margin-left: 9px;
  flex-shrink: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

.info-text {
  color: #FFF;
  font-size: 14px;
  margin-left: 9px;
}

.sidebar-item {
  padding: 0 9px;
  font-size: 14px;
}

.expand-playlist-toggle {
  height: 18px;

  svg {
    height: 18px;
    width: 18px;
    margin-left: 9px;
  }
}
