<div local-class="info-box">
  {{#if title}}
    <div local-class="title">{{title}}</div>
    <div local-class="author">{{author}}</div>
  {{else}}
    <div local-class="waiting">⏳</div>
  {{/if}}
</div>
