@import '../styles/variables';

.search-bar {
  width: 100%;
  background: $shade-3-d2;
  border: none;
  padding: 9px 48px 9px 18px;
  font-size: 18px;
  color: #FFF;
  box-sizing: border-box;
}

.search-results {
  position: relative;
  display: flex;
  max-height: 261px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 9px 18px;
  flex-shrink: 0;
  transition: max-height $transition-1;

  &.no-search-term {
    max-height: 0; // TODO
  }
}

.result-item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  margin-left: 9px;
  padding: 9px;
  border-radius: 3px;
  box-shadow: $box-shadow-1;
  line-height: 18px;
  transition: background $transition-1, box-shadow $transition-1;

  &:hover {
    background: $shade-2;
    box-shadow: $box-shadow-3;
  }
  &:first-of-type {
    margin-left: 0;
  }
}

.result-thumbnail {
  margin-bottom: 3px;
  border-radius: 3px;
  background: url("/images/loader.svg") no-repeat center;
  background-size: 40px;
}

.result-title {
  color: #FFF;
  overflow: hidden;
  height: calc(5 * 18px);
  margin-bottom: 6px;
  flex-grow: 1;
}

.result-actions {
  padding: 0 3px;
  transition: color $transition-1;

  &:hover {
    color: #FFF;
  }
}

.info-text {
  color: #FFF;
  font-size: 18px;
}

.playlist-list-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  background: $shade-1;
  border: 1px solid $shade-1-l1;
  border-radius: 50%;
  box-shadow: $box-shadow-3;

  svg {
    height: 18px;
    width: 18px;
  }
}
