@import '../styles/variables';

.song-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: lighten($shade-2, 50%);
  cursor: pointer;
  transition: color $transition-1;
  font-family: 'IBM Plex Sans', sans-serif;

  &:hover {
    color: #FFF;
  }

  &.is-playing {
    border-radius: 3px;
    background: $faded-black-1;
  }

  svg {
    flex-shrink: 0;
    height: 14px;
    width: 14px;
  }
}

.song-item-content {
  padding: 9px 0 9px 9px;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  display: flex;
}

.song-item-action-buttons {
  display: flex;
  padding: 9px 9px 9px 0;
  flex-shrink: 0;
}

.song-item-actions {
  margin-left: 9px;
  border-radius: 50%;
  background-color: $faded-black-1;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: background-color $transition-1;

  &:hover {
    background-color: $faded-white-3;
  }

  svg {
    transition: transform $transition-1;
  }

  &.is-active svg {
    transform: rotate(180deg);
  }
}

.more-actions svg {
  height: 18px;
  width: 18px;
}

.song-item-title {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  padding: 2px 0;
}

.queue-item {
  color: $text;

  &:hover {
    color: $text-d4;
  }
}
