@import '../styles/variables';

.header-component {
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px;
  background: $shade-1-d1;
  color: white;
}

.title {
  font-size: 24px;
  font-family: 'IBM Plex Sans', sans-serif;
}
