@import '../styles/colors';

.header-component {
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px;
  background: darken($shade-1, 5%);
  color: white;
}
