<div local-class="header-component">
  <h1 local-class="title">Firebass</h1>
  {{#if session.isAuthenticated}}
    <button>You're signed in!</button>
  {{else}}
    <button {{action "signIn" "facebook"}}>Sign in</button>
  {{/if}}
</div>